.img-portrait {
   display: none;
   width: 100%;
}

.img-notportrait {
   display: none;
   width: 100%;
}

@media only screen and (orientation: portrait) {
   .img-portrait {
     display: block;
     width: 100%;
     align: center;
   }
}

@media not only screen and (orientation: portrait) {
   .img-notportrait {
     display: block;
     width: 100%;
     align: center;
   }
}

